{% extends 'catalog/base.html' %}

{% block content %}
{% load static %}

<div class="text-center bg-dark text-white" id="food_name" style="height: 25%">
  <h1 class="intro-text text-center" >Oups.</h1>
</div>

<div class="bg-primary" style="padding:2%; height:65%">

  <div class="row" >
    <div class="col-lg-12 col-md-12 text-center">
      Il semblerait qu'il y ait eu une erreur dans votre navigation.
        Revenez en arrière ou tentez autre chose.
    </div>

  </div>

     {% include 'catalog/search_form.html' %}
</div>



{% endblock %}