


{% extends 'catalog/base.html' %}

{% block content %}
{% load static %}

<div class="text-center bg-dark text-white" id="noresult" style="height: 25%">
  <h1 class="intro-text text-center" >Oups</h1>
</div>

<section class="bg-primary" id="legal">

<div class="bg-primary" id="list" style="padding-top:20px; padding-bottom:20px; height:65%">
    <div class="container my-auto" >
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text">
                Nous n'avons pas trouvé d'aliment correspondant à votre recherche.
                Veuillez réessayer.
                </h2>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <center>{% include 'catalog/search_form.html' %}</center>
            </div>
        </div>
    </div>
</div>

</section>

{% endblock %}